* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  cursor: url("imagens/cursor.png") -30 28, auto;
}

input[type="checkbox"]:hover {
  cursor: url("imagens/cursor.png") -30 28, auto;
}

button:hover {
  cursor: url("imagens/cursor.png") -30 28, auto;
}

body {
  background-image: url("imagens/background.jpg");
  background-size: cover; /* Garante que a imagem cobrirá todo o corpo */
  background-position: center; /* Centraliza a imagem no corpo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  min-height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: first baseline;
  align-items: start;
}

@font-face {
  font-family: "Pieces of Eight";
  src: url(fonte/Pieces\ of\ Eight.ttf);
  font-style: normal;
}

main {
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Pieces of Eight";
  font-size: 25px;
  padding: 3rem;
  background-color: rgb(62, 125, 104);
  max-width: 800px;
  border-radius: 10px;
  position: relative;
  opacity: 0.9;
}

main #bloco form {
  width: 100%;
  display: flex;
  gap: 0.6rem;
  border-radius: 10px;
  margin-bottom: 20px;
}

main #bloco input {
  flex: 1;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
  margin-top: -20px;
}

main #bloco button {
  padding: 0rem 1rem;
  height: 50px;
  border-radius: 5px;
  background-image: url("imagens/bmoBotao.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.image-container {
  text-align: center;
  position: relative;
  margin-right: 80px;
}

.image-container img {
  width: 300px;
  height: auto;
  display: flex;
  margin: 2px 0 0;
}

.image-container h1 {
  position: relative;
  top: -150px;
  left: 60%;
  transform: translate(-50%, -80%);
  margin: n;
}

#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  counter-increment: task;
  margin-bottom: 8px;
}

#todo-list li::before {
  content: counter(task);
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 8px;
  color: rgb(98, 26, 29);
  font-weight: bold;
}

#todo-list li span {
  margin-left: 8px;
}

#todo-list li button {
  margin-left: 10px;
}

#todo-list button {
  padding: 0rem 1rem;
  height: 25px;
  width: 60px;
  border-radius: 5px;
  background-image: url("imagens/jakeBotao.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toast {
  position: relative;
  bottom: -10px;
  left: 20%;
  transform: translateX(-50%);
  background-image: url("imagens/bmoAlert.jpg");
  color: white;
  font-weight: 700;
  padding: 20px;
  border-radius: 8px;
  display: none;
}

.toast.show {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.music-control {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 70px;
}
